
.nav-link {
  font-family: "DM Sans";
  font-size: 1.1rem; 
  font-weight: 550;
  font-style: normal;
}

.nav-link {
  letter-spacing: 0.3rem; 
  margin: 1.2rem;
}

#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

li {
  color:#292929
}

.nav-link.active {
  color: black; 
}

.nav-link.inactive {
  color: #6c757d; 
}


.img-fluid {
  max-width: 120%;
  height: auto;
}


body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: url("media/DSC08273.jpg");

/* Set a specific height */
height: 85%;

/* Position and center the image to scale nicely on all screens */
margin-left: 10px;
margin-right: 10px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}



.resume { 
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
}

.button {
  width: fit-content;
  background-color: #ddd;
  border: none;
  color: rgb(30, 30, 30);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #ececec;
}




.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


p.content {
  text-align: justify;
}


p.content {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem; 
  font-weight: 400;
  font-style: normal;
}

h2.content {
  font-family: "Open Sans", sans-serif;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);

}



/*------------------------------------------------------Carousel-----------------------------------------------------------------*/

/*------------------------------------------------------Overlay-----------------------------------------------------------------*/
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.pic-container {
  position: relative;
  width: 100%;
}

/* Make the image to responsive */
.image-link {
  display: block;
  width: 100%;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .2s ease;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.pic-container:hover .overlay {
  opacity: 0;
}

.img-group {
  position: relative;

}
        
.img-tip {
  position: absolute;
  bottom: 0;
  background: #333;
  color: #fff;
  opacity: 0.6;
  display: none;
  transition: .5s ease;
  padding: 20px;

}
        
.img-group:hover .img-tip {
  display: block;
  width: 100%;
  text-align: center;
}


