
.nav-link {
  font-family: "DM Sans";
  font-size: 1.1rem; 
  font-weight: 550;
  font-style: normal;
}

.nav-link {
  letter-spacing: 0.3rem; 
  margin: 1.2rem;
}

#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

li {
  color:#292929
}

.nav-link.active {
  color: black; 
}

.nav-link.inactive {
  color: #6c757d; 
}


.img-fluid {
  max-width: 120%;
  height: auto;
}


body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: url("media/DSC08273.jpg");

/* Set a specific height */
height: 85%;

/* Position and center the image to scale nicely on all screens */
margin-left: 10px;
margin-right: 10px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}



.resume { 
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
}

.button {
  width: fit-content;
  background-color: #ddd;
  border: none;
  color: rgb(30, 30, 30);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #ececec;
}




.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


p.content {
  text-align: justify;
}


p.content {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem; 
  font-weight: 400;
  font-style: normal;
}

h2.content {
  font-family: "Open Sans", sans-serif;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);

}



/*------------------------------------------------------Slider effect-----------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}